/* CSS Document */
*, *::after, *::before {
  box-sizing: border-box;
  font-family: "open Sans Condensed";
}

/* Bron navigatie: https://stackoverflow.com/questions/15710701/horizontal-list-items  */
header {
  background-color: white;
}

body {
  margin-left: auto;
}

/* Search bar
bron: https://codepen.io/bennettfeely/pen/MxOrLO en https://codepen.io/takaneichinose/pen/ErGwPZ */
.search-box {
  border: solid 5px black;
  display: inline-block;
  position: relative;
  border-radius: 50px;
}

.search-box input[type="text"] {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: bold;
  width: 5px;
  height: 50px;
  padding: 5px 40px 5px 10px;
  border: none;
  box-sizing: border-box;
  border-radius: 50px;
  transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 0.5) 600ms;
}

.search-box input[type="text"]:focus {
  outline: none;
}

.search-box input[type="text"]:focus, .search-box input[type="text"]:not(:placeholder-shown) {
  width: 300px;
  transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 1.5);
}

.search-box input[type="text"]:focus+span, .search-box input[type="text"]:not(:placeholder-shown)+span {
  bottom: 13px;
  right: 10px;
  transition: bottom 300ms ease-out 800ms, right 300ms ease-out 800ms;
}

.search-box input[type="text"]:focus+span:after, .search-box input[type="text"]:not(:placeholder-shown)+span:after {
  top: 0;
  right: 10px;
  opacity: 1;
  transition: top 300ms ease-out 1100ms, right 300ms ease-out 1100ms, opacity 300ms ease 1100ms;
}

.search-box span {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -13px;
  right: -15px;
  transition: bottom 300ms ease-out 300ms, right 300ms ease-out 300ms;
}

.search-box span:before, .search-box span:after {
  content: '';
  height: 25px;
  border-left: solid 5px black;
  position: absolute;
  transform: rotate(-45deg);
}

.search-box span:after {
  transform: rotate(45deg);
  opacity: 0;
  top: -20px;
  right: -10px;
  transition: top 300ms ease-out, right 300ms ease-out, opacity 300ms ease-out;
}



ul#Navigatie {
  background: none;
  margin: 0;
  padding: 0;
  height: 10%;
  width: auto;
  display: flex;
}

ul#Navigatie img {
  width: 5vh;
  align-items: center;
  align-content: center;
  margin-top: 1em;
}

ul#Navigatie li {
  display: inline;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
  align-items: center;
  padding: 1em;
}

ul#Navigatie li a {
  text-decoration: none;
  font-weight: bolder;
  color: #000;
  height: 50px;
  width: auto;
  display: block;
  text-align: center;
  line-height: 50px;
  color: black;
}



/* menu balk + het lijntje bron: https://codepen.io/bennettfeely/pen/MxOrLO */
:root {
  --underline-height: .5em;
  --transition-duration: .5s;
}


nav {
  position: relative;
  white-space: nowrap;
  background: white;
  padding: var(--underline-height) 0;
  margin: 2em 0;
  box-shadow: 0 1em 2em rgba(0, 0, 0, 0.05);
}

nav img {
  width: 5vh;
  align-items: center;
  align-content: center;
  margin-top: 1em;
}

.underline {
  display: block;
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  height: var(--underline-height);
  width: 20%;
  background: black;
  pointer-events: none;
  mix-blend-mode: multiply;
  -webkit-transition: -webkit-transform var(--transition-duration) ease-in-out;
  transition: -webkit-transform var(--transition-duration) ease-in-out;
  transition: transform var(--transition-duration) ease-in-out;
  transition: transform var(--transition-duration) ease-in-out, -webkit-transform var(--transition-duration) ease-in-out;
}

a {
  display: inline-block;
  z-index: 10;
  width: 20%;
  padding: 1em 0;
  text-align: center;
  cursor: pointer;
  font-weight: bolder;
}

nav.black .underline {
  background: #222;
  border-radius: .25em;
  height: calc(var(--underline-height) / 2);
  mix-blend-mode: initial;
}

#Uitgelicht {
  position: relative;
}

#Uitgelicht h2 {
  position: absolute;
  text-size: 2em;
  color: white;
  bottom: 3.5em;
  left: 1em;
  margin: 0;
  border-radius: 1em;
}

#Uitgelicht a {
  position: absolute;
  bottom: 1em;
  margin: 0;
  padding: 1em;
  color: black;
  background-color: white;
  border-radius: 3em;
  font-weight: bolder;
  font-size: 1em;
  text-decoration: none;
}

#Uitgelicht a:first-of-type {
  position: absolute;
  left: 1em;

}

#Uitgelicht a:hover {
  box-shadow: 0px 5px 25px -5px #FF2803;
  background-color: #FF2803;
  color: white;
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}


#Uitgelicht a:last-of-type {
  position: absolute;
  left: 10em;
}

#Uitgelicht img {
  width: 100%;
  height: 70%;
}

#Gearup {
  position: relative;
  display: flex;
}

#Gearup section {
  padding: 1em 1em 1em 0em;
}

#Gearup img {
  width: 40vw;
  height: 40vw;
}

#Gearup a {
  position: absolute;
  top: 0em;
  right: 1em;
}

#Gearup h2 {
  position: absolute;
  top: -1em;
}

#Trending {
  position: relative;
  display: flex;
}

#Trending section {
  padding: 1em 1em 1em 0em;
}

#Trending img {
  width: 40vw;
  height: 40vw;
}

#Trending a {
  position: absolute;
  top: 0em;
  right: 1em;
}

#Trending h2 {
  position: absolute;
  top: -1em;
}

#Trending p:first-of-type {
  color: #FA5302;
  font-weight: bold;
}

#schoenen {
  display: flex;
  justify-content: flex-start;
  overflow: auto
}

#schoenen::-webkit-scrollbar {
  ​​​​​​​​display: none;
  padding: 1em;
  margin-left: -1em;
  margin-top: 2em;
}

#shopdecollectie figure {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  padding: 1em;
}

#shopdecollectie img {
  width: 70vw;
  height: 25vw;
}

#shopdecollectie a {
  position: absolute;
  bottom: 1em;
  margin: 1em;
  left: 0.8em;
  padding: 1em;
  color: black;
  background-color: white;
  border-radius: 3em;
  font-weight: bolder;
  font-size: 1em;
  text-decoration: none;
}

footer {
  background-color: black;
}

footer ul {
  color: white;
  text-decoration: none;
  line-height: 2em;
}
