/* CSS Document */
*, *::after, *::before {
  box-sizing: border-box;
  font-family: "open Sans Condensed";
}

/* Bron navigatie: https://stackoverflow.com/questions/15710701/horizontal-list-items  */

header {
  background-color: white;
}

ul#Navigatie {
  background: none;
  margin: 0;
  padding: 0;
  height: 10%;
  width: auto;
  display: flex;
}

ul#Navigatie img {
  width: 5vh;
  align-items: center;
  align-content: center;
  margin-top: 1em;
}

ul#Navigatie li {
  display: inline;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
  align-items: center;
  padding: 1em;
}

ul#Navigatie li a {
  text-decoration: none;
  font-weight: bolder;
  color: #000;
  height: 50px;
  width: auto;
  display: block;
  text-align: center;
  line-height: 50px;
  color: black;
}

#Uitgelicht {
  position: relative;
}

#Uitgelicht h2 {
  position: absolute;
  text-size: 2em;
  color: white;
  bottom: 3.5em;
  left: 1em;
  margin: 0;
  border-radius: 1em;
}

#Uitgelicht a {
  position: absolute;
  bottom: 1em;
  margin: 0;
  padding: 1em;
  color: black;
  background-color: white;
  border-radius: 3em;
  font-weight: bolder;
  font-size: 1em;
  text-decoration: none;
}

#Uitgelicht a:first-of-type {
  position: absolute;
  left: 1em;
}

#Uitgelicht a:last-of-type {
  position: absolute;
  left: 6em;
}

#Uitgelicht img {
  width: 100%;
  height: 70%;
}

#Gearup {
  position: relative;
  display: flex;
}

#Gearup img {
  width: 40vw;
  height: 40vw;

}

#Gearup a {
  position: absolute;
  top: 0em;
  right: 1em;
}

#Gearup h2 {
  position: absolute;
  top: -1em;
}

#schoenen {
  display: flex;
  justify-content: flex-start;
  overflow: auto;
}

#schoen1, #schoen2, #schoen3, #schoen4 {
  padding: 1em;
  margin-left: -1em;
  margin-top: 2em;
}

#shopdecollectie {
  position: relative;
  display: flex;
}

#shopdecollectie img {
  width: 30vh;
  height: 45vh;
  margin-left: -2.5em;
}

#shopdecollectie a {
  position: absolute;
  bottom: 1em;
  margin: 0;
  left: .5em;
  padding: 1em;
  color: black;
  background-color: white;
  border-radius: 3em;
  font-weight: bolder;
  font-size: 1em;
  text-decoration: none;
}

#alleschoenen, #allekleding img {
height: 10vh;
}

#alleschoenen, #allekleding {
justify-content: flex-end;
flex-direction: column;
}
